<!DOCTYPE html>
<html>
  <head>
    <title>LeyLines</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['API_KEY']}", :defer => 'async' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
