<!DOCTYPE html>
<html>
  <head>
    <title>LeyLines</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyDDqWRzqVKY7G_BfbhE_8mVTQ8vZlIWRBY", :defer => 'async' %>
    <%#  javascript_include_tag "https://maps.googleapis.com/maps/api/directions/json?origin=41.43206,-81.38992&destination=Concord,MA&key=AIzaSyDDqWRzqVKY7G_BfbhE_8mVTQ8vZlIWRBY" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
